<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
<h1>New Resource</h1>
<p><%= @resource.title %> has been added to UnBoggle by <%= @resource.user.name %></p>
<p>Come check it out!</p>
</body>
</html>