<% @users.each do |user| %>

    <div>
      <div> <%= gravatar_for(user, size: 52) %> </div>
      <div> <%= link_to user.name, user %></div>
      <% if current_user.account == 'admin' && !current_user?(user) %>
          | <%= link_to "delete", user, method: :delete,
                        data: {confirm: "You sure?"} %>
      <% end %>

    </div>

<% end %>