<div class="liker">
  <%= form_for([@resource, @resource.likes.build], :remote => true,  id: "likes")  do |f| %>

      <p><%= f.submit "Like This", class: 'btn btn-small btn-success' %></p>
  <% end %>
</div>