<table id="rating">
  <tr><th colspan="2">Resource Ratings</th></tr>
  <tr><td>Average Rating</td><td><%= @resource.average_rating %></td></tr>
  <tr><td>Your Rating</td><td><%= current_user_rating %></td></tr>
</table>